/*webkit-sassui-dot Start*/
/*webkit-sassui-dot End*/
.test-webkit-sassui-dot {
  font-size: 1em;
  min-width: 6px;
  height: 6px;
  line-height: 6px;
  display: inline-block;
  background-color: #eb4a4b;
  border-radius: 100px;
}

.test-webkit-sassui-dot-big {
  font-size: 1em;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background-color: #eb4a4b;
  border-radius: 100px;
}
