/* weapp-styles Start*/

@import '@jswork/wsui-generators/dist/index.scss';
@import './variables';

$wsui-generators-options: (
  global: '',
  background-color: 'bg-',
  border-color: 'bcd-',
  border-radius: 'bdr-',
  box: '-',
  color: 'c-',
  font-size: 'f-',
  font-weight: 'fw-',
  line-clamp: 'lc-',
  line-height: 'lh-',
  height-line-height: 'hlh-',
  line: 'line-',
  space: 'sp-',
  width-w1: 'w1-',
  width-wp: 'wp-',
) !default;

@include generator-color($color-map);
@include generator-background-color($color-map);
@include generator-border-color($color-map);

@include generator-space($box-list);
@include generator-font-size($font-list);
@include generator-border-radius($border-radius-list);

//Generate margin:
@include generator-box($box-list, 'm', 'px', 'weapp');
@include generator-box($box-list, 'mt', 'px', 'weapp');
@include generator-box($box-list, 'mr', 'px', 'weapp');
@include generator-box($box-list, 'ml', 'px', 'weapp');
@include generator-box($box-list, 'mb', 'px', 'weapp');
@include generator-box($box-list, 'mx', 'px', 'weapp');
@include generator-box($box-list, 'my', 'px', 'weapp');
@include generator-box($box-list, 'p', 'px', 'weapp');
@include generator-box($box-list, 'pt', 'px', 'weapp');
@include generator-box($box-list, 'pr', 'px', 'weapp');
@include generator-box($box-list, 'pb', 'px', 'weapp');
@include generator-box($box-list, 'pl', 'px', 'weapp');
@include generator-box($box-list, 'px', 'px', 'weapp');
@include generator-box($box-list, 'py', 'px', 'weapp');

//Generate your own grid:
@include generator-line($wp-list, #f3f3f3);
@include generator-line-clamp($line-clamp-list);

@import '@jswork/weapp-wsui-shorty/dist/index.scss';
/*weapp-styles End*/
